@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital@1&display=swap');
*/
selector {
    transition-property: var(--accent-color);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family:'Open Sans', sans-serif;
    --main-text-color: rgb(193, 214, 39);
    --accent-color: rgb(59, 39, 211);
}
h1 {
    color: rgb(25, 214, 69);
}